<p>Products</p>
<button (click)="openFilter()">Filters</button>
<div class="row">
  Page size:
  <select
    [(ngModel)]="itemsState.pageSize"
    (change)="onPageSizeChange()"
    id="page-size">
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="50">50</option>
  </select>
  <br />
</div>

<div class="row">
  <div *ngFor="let item of itemsState.items">
    <div class="card" style="width: 15rem">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/items/{{ item.id }}">
            {{ item.name }}
          </a>
        </h5>
        <p class="card-subtitle mb-2 text-muted">${{ item.price }}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="itemsState.page"
  [pageSize]="itemsState.pageSize"
  [collectionSize]="itemsState.count"
  (pageChange)="onPageChange($event)">
</ngb-pagination>
